@mixin color-input($colorClass) {
    border-bottom: 1px solid $colorClass;
}

@mixin required-field() {
    content: '*';
    position: absolute;
    margin-left: 4px;
    color: $assertive;
    top: 2px;
}

.icon {
    &.material-icons {
        &.home::after {
            content: "\E88A";
        }

        &.inbox::after {
            content: "\E156";
        }

        &.today::after {
            content: "\E8DF";
        }

        &.week::after {
            content: "\E916";
        }

        &.projects::after {
            content: "\E8F9";
        }

        &.tasks::after {
            content: "\E873";
        }

        &.finished::after {
            content: "\E876";
        }

        &.settings::after {
            content: "\E8B8";
        }

        &.exit::after {
            content: "\E879";
        }
    }
}

.list-highlighted {
    .item.activated {
        background-color: #D9D9D9 !important;
    }
}

.button-secondary,
.bar .button-secondary,
.bar .button-secondary:hover,
.button-secondary:hover,
.bar .button-secondary:active,
.button-secondary:active,
.bar .button-secondary.activated,
.button-secondary.activated {
    background-color: $secondary;
    color: #fff;
}

.button.button-secondary.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: $secondary;
}

.secondary-bg {
    background-color: $secondary;
    color: #fff;
}

.bar-secondary {
    background-color: $secondary;
    color: #fff;
}

.bar.bar-royal,
.bar.bar-energized,
.bar.bar-stable,
.bar.bar-dark {
    background-image: none;
}

.bar .button {
    min-height: 54px !important;
    max-height: 54px !important;
}

.bar .buttons span {
    line-height: 55px;
}

.item {
    &.active, &.clicked {
        background-color: #D9D9D9 !important;
    }
}

.dashboard-container {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    height: 100%;

    > .row {
        -webkit-flex: 1;
    }

    .icon-row {
        -webkit-align-items: center;

        .item-image {
            border-radius: 50%;
            height: 72px;
            width: 72px;
            padding: 0;
            margin: 0 auto;
            background-color: $secondary;

            .icon {
                color: $light;
                line-height: 72px;
            }

            &.activated {
                opacity: 0.5;
            }
        }

        .item-image-text {
            padding-top: 15px;
        }
    }
}

// Menu
.menu-avatar-text {
    top: 40px;
    left: 96px;
    position: absolute;
}

.menu .bar.bar-header.expanded {
    min-height: 100px !important;
}

.has-expanded-header-avatar {
    top: 100px;
}

.menu-open .menu-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 1;
    -webkit-transition: 0.1s opacity linear;
    transition: 0.1s opacity linear;
}

// custom form
.list.form {

    .item-input {
        padding-left: 0;
    }

    .input-span {
        font-size: 13px;
        color: #999;
        position: absolute;
        top: 8px;
    }

    .item-input input, .item-input textarea {
        @include color-input(#aaa);
        border-radius: 0;
        margin-top: 22px;

        &:focus {
            @include color-input($form-focus-color);

            + .input-span {
                color: $form-focus-color;
            }
        }

        &:required + .input-span:after {
            @include required-field();
        }
    }

    .item-input textarea {
        margin-top: 24px;
    }

    .item-select {
        select {
            @include color-input(#aaa);
            border-radius: 0;
            width: 100%;
            max-width: 100%;
            display: block;
            position: relative;
            padding-bottom: 3px;
            padding-top: 2px;
            margin: 0;
            height: 34px;
            margin-top: 22px;

            &:focus {
                @include color-input($form-focus-color);

                + .input-span {
                    color: $form-focus-color;
                }
            }

            &:required + .input-span:after {
                @include required-field();
            }
        }

        &:after {
            top: 62%;
            margin-top: 0;
        }
    }
}

.platform-android {
    .list.form {
        .item-select select {
            margin-left: -4px;
        }

        .item-input input[type='date'] {
            margin-left: -4px;
        }
    }
}
