.list {
    .item.activated {
        background-color: #D9D9D9;
    }
}

.button-purple,
.bar .button-purple,
.bar .button-purple:hover,
.button-purple:hover,
.bar .button-purple:active,
.button-purple:active,
.bar .button-purple.activated,
.button-purple.activated {
    background-color: $purple;
    color: #fff;
}

.button.button-purple.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: $purple;
}

.purple-bg {
    background-color: $purple;
    color: #fff;
}

.bar-purple {
    background-color: $purple;
    color: #fff;
}

.bar.bar-royal {
    background-image: none;
}

.bar .button {
    min-height: 54px !important;
    max-height: 54px !important;
}

.bar .buttons span {
    line-height: 55px;
}

.item {
    &.active, &.clicked {
        background-color: #D9D9D9 !important;
    }
}

.button-fab.button-fab-bottom-right {
    &.has-snackbar {
        bottom: 64px !important;
        -webkit-animation: slideInUp 0.4s;
        animation: slideInUp 0.4s;
    }
}

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.dashboard-container {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    height: 100%;

    > .row {
        -webkit-flex: 1;
    }

    .icon-row {
        -webkit-align-items: center;

        .item-image {
            border-radius: 50%;
            height: 72px;
            width: 72px;
            padding: 0;
            margin: 0 auto;
            background-color: $purple;

            .icon {
                padding-top: 12px;
                color: $light;
            }

            &.activated {
                opacity: 0.5;
            }
        }

        .item-image-text {
            padding-top: 5px;
        }
    }
}

// Menu
.menu-avatar-text {
    top: 40px;
    left: 96px;
    position: absolute;
}

.menu .bar.bar-header.expanded {
    min-height: 100px !important;
}

.has-expanded-header-avatar {
    top: 100px;
}

.menu-open .menu-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 1;
    -webkit-transition: 0.1s opacity linear;
    transition: 0.1s opacity linear;
}

// Animations
@-webkit-keyframes slideOutDown {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes slideOutDown {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
