/* BEGIN Thin */
@font-face {
    font-family: 'RobotoDraft';
    src:
        url("#{$robotodraft-font-path}/Thin/RobotoDraft-Thin.woff2?v=1.0.0") format("woff2"),
        url("#{$robotodraft-font-path}/Thin/RobotoDraft-Thin.woff?v=1.0.0") format("woff"),
        url("#{$robotodraft-font-path}/Thin/RobotoDraft-Thin.ttf?v=1.0.0") format("truetype");
    font-weight: 100;
    font-style: normal;
}
/* END Thin */
/* BEGIN Light */
@font-face {
    font-family: RobotoDraft;
    src:
        url("#{$robotodraft-font-path}/Light/RobotoDraft-Light.woff2?v=1.0.0") format("woff2"),
        url("#{$robotodraft-font-path}/Light/RobotoDraft-Light.woff?v=1.0.0") format("woff"),
        url("#{$robotodraft-font-path}/Light/RobotoDraft-Light.ttf?v=1.0.0") format("truetype");
    font-weight: 300;
    font-style: normal;
}
/* END Light */
/* BEGIN Regular */
@font-face {
    font-family: RobotoDraft;
    src: url("#{$robotodraft-font-path}/Regular/RobotoDraft-Regular.woff2?v=1.0.0") format("woff2"), url("#{$robotodraft-font-path}/Regular/RobotoDraft-Regular.woff?v=1.0.0") format("woff"), url("#{$robotodraft-font-path}/Regular/RobotoDraft-Regular.ttf?v=1.0.0") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: RobotoDraft;
    src: url("#{$robotodraft-font-path}/Regular/RobotoDraft-Regular.woff2?v=1.0.0") format("woff2"), url("#{$robotodraft-font-path}/Regular/RobotoDraft-Regular.woff?v=1.0.0") format("woff"), url("#{$robotodraft-font-path}/Regular/RobotoDraft-Regular.ttf?v=1.0.0") format("truetype");
    font-weight: normal;
    font-style: normal;
}
/* END Regular */
/* BEGIN Italic */
@font-face {
    font-family: RobotoDraft;
    src: url("#{$robotodraft-font-path}/Italic/RobotoDraft-Italic.woff2?v=1.0.0") format("woff2"), url("#{$robotodraft-font-path}/Italic/RobotoDraft-Italic.woff?v=1.0.0") format("woff"), url("#{$robotodraft-font-path}/Italic/RobotoDraft-Italic.ttf?v=1.0.0") format("truetype");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: RobotoDraft;
    src: url("#{$robotodraft-font-path}/Italic/RobotoDraft-Italic.woff2?v=1.0.0") format("woff2"), url("#{$robotodraft-font-path}/Italic/RobotoDraft-Italic.woff?v=1.0.0") format("woff"), url("#{$robotodraft-font-path}/Italic/RobotoDraft-Italic.ttf?v=1.0.0") format("truetype");
    font-weight: normal;
    font-style: italic;
}
/* END Italic */
/* BEGIN Medium */
@font-face {
    font-family: RobotoDraft;
    src: url("#{$robotodraft-font-path}/Medium/RobotoDraft-Medium.woff2?v=1.0.0") format("woff2"), url("#{$robotodraft-font-path}/Medium/RobotoDraft-Medium.woff?v=1.0.0") format("woff"), url("#{$robotodraft-font-path}/Medium/RobotoDraft-Medium.ttf?v=1.0.0") format("truetype");
    font-weight: 500;
    font-style: normal;
}
/* END Medium */
/* BEGIN Bold */
@font-face {
    font-family: RobotoDraft;
    src: url("#{$robotodraft-font-path}/Bold/RobotoDraft-Bold.woff2?v=1.0.0") format("woff2"), url("#{$robotodraft-font-path}/Bold/RobotoDraft-Bold.woff?v=1.0.0") format("woff"), url("#{$robotodraft-font-path}/Bold/RobotoDraft-Bold.ttf?v=1.0.0") format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: RobotoDraft;
    src: url("#{$robotodraft-font-path}/Bold/RobotoDraft-Bold.woff2?v=1.0.0") format("woff2"), url("#{$robotodraft-font-path}/Bold/RobotoDraft-Bold.woff?v=1.0.0") format("woff"), url("#{$robotodraft-font-path}/Bold/RobotoDraft-Bold.ttf?v=1.0.0") format("truetype");
    font-weight: bold;
    font-style: normal;
}
/* END Bold */
/* BEGIN Bold Italic */
@font-face {
    font-family: RobotoDraft;
    src: url("#{$robotodraft-font-path}/BoldItalic/RobotoDraft-BoldItalic.woff2?v=1.0.0") format("woff2"), url("#{$robotodraft-font-path}/BoldItalic/RobotoDraft-BoldItalic.woff?v=1.0.0") format("woff"), url("#{$robotodraft-font-path}/BoldItalic/RobotoDraft-BoldItalic.ttf?v=1.0.0") format("truetype");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: RobotoDraft;
    src: url("#{$robotodraft-font-path}/BoldItalic/RobotoDraft-BoldItalic.woff2?v=1.0.0") format("woff2"), url("#{$robotodraft-font-path}/BoldItalic/RobotoDraft-BoldItalic.woff?v=1.0.0") format("woff"), url("#{$robotodraft-font-path}/BoldItalic/RobotoDraft-BoldItalic.ttf?v=1.0.0") format("truetype");
    font-weight: bold;
    font-style: italic;
}
/* END Bold Italic */
/* BEGIN Black */
@font-face {
    font-family: RobotoDraft;
    src: url("#{$robotodraft-font-path}/Black/RobotoDraft-Black.woff2?v=1.0.0") format("woff2"), url("#{$robotodraft-font-path}/Black/RobotoDraft-Black.woff?v=1.0.0") format("woff"), url("#{$robotodraft-font-path}/Black/RobotoDraft-Black.ttf?v=1.0.0") format("truetype");
    font-weight: 900;
    font-style: normal;
}
/* END Black */
