<ion-view hide-nav-bar="mv.hasSelected()">
    <ion-nav-title translate="i18n.projects.list.title"></ion-nav-title>

    <ion-header-bar align-title="left" class="bar-purple">
        <div class="buttons buttons-left header-item">
            <button class="button button-icon button-clear ion-android-arrow-back"
                    ng-click="mv.unselectAll()" ng-show="mv.hasSelected()"></button>

            <span>{{mv.selectedCount}}</span>
            <button class="button button-icon button-clear ion-android-arrow-dropdown"
                    ng-click="mv.showMoreActions($event)" ng-show="mv.hasSelected()"></button>
        </div>

        <h1 class="title"></h1>

        <div class="buttons buttons-right header-item">
            <button class="button button-icon button-clear ion-android-create"
                    ng-click="mv.showForm(true)" ng-show="mv.hasOnlySelected()"></button>

            <button class="button button-icon button-clear ion-android-delete"
                    ng-click="mv.removeSelected()" ng-show="mv.hasSelected()"></button>
        </div>
    </ion-header-bar>

    <ion-content overflow-scroll="false">
        <tsk-list icon="work" fields="mv.fields" collection="mv.projects"
            selected-count="mv.selectedCount" selected-all="mv.selectedAll"
            selected="mv.selected" on-row-click="mv.onRowClick(item)"
            drag-left="false" on-drag-left-complete="mv.onDragLeftComplete(id)">
        </tsk-list>
    </ion-content>

    <button class="button button-fab button-fab-bottom-right button-royal" ng-click="mv.showForm()">
        <i class="icon ion-android-add"></i>
    </button>
</ion-view>
