<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-royal" align-title="left">
        <div class="buttons buttons-left header-item">
            <button class="button button-icon button-clear ion-android-close"
                    ng-click="mv.hideForm()"></button>
        </div>

        <h1 class="title" translate="i18n.projects.form.title"></h1>

        <div class="buttons buttons-right header-item">
            <span class="right-buttons">
                <button class="button button-fab button-purple" ng-click="mv.save()">
                    <i class="icon ion-android-done"></i>
                </button>
            </span>
        </div>
    </ion-header-bar>

    <ion-content overflow-scroll="false">
        <ng-form name="mv.projectForm">
            <div class="list padding-horizontal">
                <label class="item item-input item-stacked-label"
                    ng-class="{'has-error' : mv.projectForm.projectName.$invalid
                    && mv.projectForm.projectName.$dirty}">

                    <span class="input-label" translate="i18n.projects.form.fields.name"></span>
                    <input name="projectName" type="text"
                        placeholder="{{'i18n.projects.form.fields.name' | translate}}"
                        ng-model="mv.project.name" ng-model-options="{debounce: 300}"
                        ng-minlength="3" ng-maxlength="25" required>
                </label>
            </div>
        </ng-form>
    </ion-content>
</ion-modal-view>
