<ion-view>
    <ion-nav-title translate="i18n.projects.list.title"></ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-android-delete ng-hide"
                ng-click="mv.removeSelected()" ng-show="mv.hasSelected()"></button>

        <button class="button button-icon icon ion-compose" ui-sref="{{mv.newMode}}"></button>

        <button class="button button-icon icon ion-android-more-vertical"
            ng-click="mv.showMoreActions($event)"></button>
    </ion-nav-buttons>
    <ion-content overflow-scroll="false">
        <ion-list>
            <ion-item ng-repeat="project in mv.projects" type="item-text-wrap"
                class="item-icon-right item-avatar">

                <div class="item-image">
                     <label class="checkbox">
                         <input type="checkbox" ng-model="mv.selected[project._id]"
                            ng-change="mv.checkSelected(project._id)" />
                     </label>
                </div>
                <a ui-sref="{{mv.editMode}}({id: project._id})" class="item-no-decoration">
                <!-- <a ui-sref="{{mv.showMode}}({id: project._id})" class="item-no-decoration"> -->
                    <h2 ng-bind="project.name"></h2>
                    <p translate="i18n.projects.list.createdIn"
                        translate-values="{createdIn: project.createdDate}">
                    </p>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </a>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
