<ng-form class="form" name="mv.projectForm" novalidate>
    <ion-view>
        <ion-nav-title translate="i18n.projects.form.title"></ion-nav-title>
        <ion-nav-buttons side="left">
            <button class="button button-icon icon ion-android-arrow-back"
                    ng-click="mv.goBack()"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-icon icon ion-android-delete ng-hide"
                    ng-click="mv.remove()" ng-show="mv.isEditMode()"></button>

            <button class="button button-icon icon ion-android-done" ng-click="mv.save()"
                    ng-disabled="mv.isInvalidForm()"></button>

            <button class="button button-icon icon ion-android-more-vertical"
                    ng-click="mv.showMoreActions($event)"></button>
        </ion-nav-buttons>

        <ion-content overflow-scroll="false">
            <div class="list padding-horizontal">
                <label class="item item-input"
                    ng-class="{'has-error' : mv.projectForm.projectName.$invalid
                    && mv.projectForm.projectName.$dirty}">

                    <span class="input-label" translate="i18n.projects.form.fields.name"></span>
                    <input name="projectName" type="text"
                        ng-model="mv.project.name" ng-model-options="{debounce: 300}"
                        ng-minlength="3" ng-maxlength="25" required>
                </label>
                <tsk-error-messages field="mv.projectForm.projectName"
                    min-length="3" max-length="25"></tsk-error-messages>
            </div>
        </ion-content>
    </ion-view>
</ng-form>
