<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-energized" align-title="left">
        <div class="buttons buttons-left header-item">
            <button class="button button-icon button-clear ion-android-close"
                    ng-click="mv.hideModal(mv.MODAL.FORM)"></button>
        </div>

        <h1 class="title" translate="i18n.settings.form.title"></h1>

        <div class="buttons buttons-right header-item">
            <span class="right-buttons">
                <button class="button button-fab button-secondary" ng-click="mv.save()">
                    <i class="icon ion-android-done"></i>
                </button>
            </span>
        </div>
    </ion-header-bar>

    <ion-content overflow-scroll="false">
        <ng-form name="mv.settingForm">
            <div class="form list padding">
                <label class="item item-input item-stacked-label item-select">
                    <select ng-model="mv.setting.language" tsk-focus="mv.focusFirstInput"
                          ng-options="('i18n.language.' + language) | translate for language in mv.languages">
                    </select>
                    <span class="input-span" translate="i18n.settings.form.fields.language"></span>
                </label>
            </div>
        </ng-form>
    </ion-content>
</ion-modal-view>
