<ion-view>
    <ion-nav-title translate="i18n.settings.form.title"></ion-nav-title>

    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>

    <ion-content overflow-scroll="false">
        <div class="list">
            <a class="item" href="javascript:void(0)" ng-click="mv.showModal(mv.MODAL.FORM)">
                <h2 translate="i18n.settings.list.general"></h2>
            </a>
            <a class="item" href="javascript:void(0)" ng-click="mv.showModal(mv.MODAL.ABOUT)">
                <h2 translate="i18n.settings.list.about"></h2>
            </a>
        </div>
    </ion-content>
</ion-view>
