<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-energized" align-title="left">
        <div class="buttons buttons-left header-item">
            <button class="button button-icon button-clear ion-android-close"
                    ng-click="mv.hideForm()"></button>
        </div>

        <h1 class="title" translate="i18n.tasks.form.title"></h1>

        <div class="buttons buttons-right header-item">
            <span class="right-buttons">
                <button id="btn-task-save" class="button button-fab button-secondary" ng-click="mv.save()">
                    <i class="icon ion-android-done"></i>
                </button>
            </span>
        </div>
    </ion-header-bar>

    <ion-content overflow-scroll="false">
        <ng-form name="mv.taskForm">
            <div class="form list padding">
                <label class="item item-input item-stacked-label">
                    <input name="taskName" type="text"
                        ng-model="mv.task.name" maxlength="30" required>
                    <span class="input-span" translate="i18n.tasks.form.fields.name"></span>
                </label>

                <label class="item item-input item-stacked-label item-select">
                    <select ng-model="mv.task.project_id" required
                        ng-options="project._id as (project.name | translate) for project in mv.projects">
                    </select>
                    <span class="input-span" translate="i18n.tasks.form.fields.project"></span>
                </label>

                <label class="item item-input item-stacked-label">
                    <input name="taskDueDate" type="date" ng-model="mv.task.dueDate">
                    <span class="input-span" translate="i18n.tasks.form.fields.dueDate"></span>
                </label>

                <label class="item item-input item-stacked-label">
                    <textarea name="taskNotes" ng-model="mv.task.notes"></textarea>
                    <span class="input-span" translate="i18n.tasks.form.fields.notes"></span>
                </label>
            </div>
        </ng-form>
    </ion-content>
</ion-modal-view>
