<ion-view>
    <ion-nav-title translate="i18n.dashboard.title"></ion-nav-title>
    <ion-content overflow-scroll="false">

        <div ng-show="!mv.tasks.length" class="list card ng-hide">
            <div class="item">
                <p translate="i18n.dashboard.noTasks"></p>
            </div>
        </div>

        <ion-list ng-show="mv.tasks.length"
            ng-repeat="(dueDate, tasks) in (mv.tasks | groupBy: 'dueDate')">

            <ion-item class="item item-divider">
                {{dueDate | date: 'dd/MM/yyyy'}}
            </ion-item>

            <ion-item type="item-text-wrap" class="item ink" ng-repeat="task in tasks">
                <a class="item-no-decoration">
                    <h2 ng-bind="task.name"></h2>
                    <p ng-bind="task.project.name"></p>
                </a>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
