<ion-view>
    <ion-nav-title translate="i18n.about.title"></ion-nav-title>

    <ion-content overflow-scroll="false">
        <div class="list card">
            <div class="item">
                <h2>TaskDo</h2>
                <p translate="i18n.about.version" translate-values="{version: '0.1.0'}"></p>
            </div>

            <div class="item item-body">
                <p translate="i18n.about.text"></p>
                <p>
                    <a href="javascript:void(0)" class="subdued">Ionic</a>
                    <a href="javascript:void(0)" class="subdued">AngularJS</a>
                </p>
                <p>
                    <a href="javascript:void(0)" class="subdued">2016</a>
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>
