<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-royal" align-title="left">
        <div class="buttons buttons-left header-item">
            <button class="button button-icon button-clear ion-android-close"
                    ng-click="mv.hideForm()"></button>
        </div>

        <h1 class="title" translate="i18n.tasks.form.title"></h1>

        <div class="buttons buttons-right header-item">
            <span class="right-buttons">
                <button class="button button-fab button-purple" ng-click="mv.save()">
                    <i class="icon ion-android-done"></i>
                </button>
            </span>
        </div>
    </ion-header-bar>

    <ion-content overflow-scroll="false">
        <ng-form name="mv.taskForm">
            <div class="list padding-horizontal">
                <label class="item item-input item-stacked-label">
                    <span class="input-label" translate="i18n.tasks.form.fields.name"></span>
                    <input name="taskName" type="text"
                        placeholder="{{'i18n.tasks.form.fields.name' | translate}}"
                        ng-model="mv.task.name" ng-model-options="{debounce: 300}"
                        ng-minlength="3" ng-maxlength="25" required>
                </label>

                <label class="item item-input item-stacked-label">
                    <span class="input-label" translate="i18n.tasks.form.fields.dueDate"></span>
                    <input name="taskDueDate" type="date" ng-model="mv.task.dueDate" placeholder="dd/MM/yyyy"
                        min="{{mv.minDate | date:'yyyy-MM-dd'}}" required>
                </label>

                <label class="item item-input item-select">
                    <div class="input-label" translate="i18n.tasks.form.fields.project"></div>
                    <select ng-model="mv.task.project_id" required
                        ng-options="project._id as project.name for project in mv.projects">
                    </select>
                </label>

                <label class="item item-input item-stacked-label">
                    <span class="input-label" translate="i18n.tasks.form.fields.notes"></span>
                    <textarea name="taskNotes" ng-model="mv.task.notes"
                        placeholder="{{'i18n.tasks.form.fields.notes' | translate}}"></textarea>
                </label>

                <ion-toggle class="ng-hide" toggle-class="toggle-royal"
                    ng-model="mv.task.finished" ng-show="mv.editMode">
                    {{'i18n.tasks.form.fields.finished' | translate}}
                </ion-toggle>
            </div>
        </ng-form>
    </ion-content>
</ion-modal-view>
