<ion-side-menus enable-menu-with-back-views="false">
    <!-- Left menu -->
    <ion-side-menu side="left">
        <ion-header-bar class="bar-royal" align-title="left">

        </ion-header-bar>
        <ion-content overflow-scroll="false">
            <div class="list list-borderless">
                <a menu-close class="item item-icon-left" href="#/app/dashboard">
                    <i class="icon ion-home"></i>{{'i18n.menu.home' | translate}}
                </a>

                <a menu-close class="item item-icon-left" href="#/app/projects/list">
                    <i class="icon ion-ios-briefcase"></i>{{'i18n.menu.projects' | translate}}
                </a>

                <a menu-close class="item item-icon-left" href="#/app/tasks/list">
                    <i class="icon ion-ios-paper"></i>{{'i18n.menu.tasks' | translate}}
                </a>

                <a menu-close class="item item-icon-left" href="#">
                    <i class="icon ion-ios-pricetags"></i>{{'i18n.menu.categories' | translate}}
                </a>

                <a menu-close class="item item-icon-left item-separator" href="#/app/settings">
                    <i class="icon ion-ios-gear"></i>{{'i18n.menu.settings' | translate}}
                </a>

                <a menu-close class="item item-icon-left" href="#">
                    <i class="icon ion-ios-information"></i>{{'i18n.menu.about' | translate}}
                </a>

                <a menu-close class="item item-icon-left" href="#">
                    <i class="icon ion-power"></i>{{'i18n.menu.exit' | translate}}
                </a>
            </div>
        </ion-content>
    </ion-side-menu>
    <!-- end left menu -->

    <ion-side-menu-content>
        <ion-nav-bar class="bar-royal" align-title="left">
            <ion-nav-buttons side="left">
                <button class="button button-icon icon ion-android-menu" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="content-menu"></ion-nav-view>
    </ion-side-menu-content>
</ion-side-menus>
