<div class="form-errors" ng-messages="field.$error" ng-if="field.$dirty">
    <div class="form-error" ng-message="required"
        translate="i18n.common.validations.required"></div>

    <div class="form-error" ng-message="date"
        translate="i18n.common.validations.invalidDate"></div>

    <div class="form-error" ng-message="minlength"
        translate="i18n.common.validations.minlength"
        translate-values="{minlength: minLength}"></div>

    <div class="form-error" ng-message="maxlength"
        translate="i18n.common.validations.maxlength"
        translate-values="{maxlength: maxLength}"></div>
</div>
