/* Empty. Add your own CSS if you like */
.item.item-separator {
    border: none;
    border-top: 1px solid #ddd;
}

.todolist-popover {
    height: auto !important;
}

.todolist-popover ion-header-bar {
    position: relative;
}

.todolist-popover ion-content {
    top: 0;
    position: relative;
}

form .list .item {
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    padding-left: 0;
}

label.item.has-error {
    border-bottom: 2px solid red;
}

.form-errors {
    margin: 5px 0;
    font-size: 12px;
}
.form-error {
    padding: 2px 0 2px 0px;
    color: red;
}
